[MASTER]
ignore-patterns=^\..*$
ignore=run.py

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    invalid-name,
    broad-exception-caught,
    import-outside-toplevel,
    redefined-outer-name,
    unused-argument,
    unused-import,
    wrong-import-order,
    wrong-import-position,
    protected-access,
    too-many-return-statements,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-local-variables,
    too-many-branches,
    too-many-nested-blocks,
    too-many-statements,
    too-many-lines,
    duplicate-code,
    import-error,
    undefined-variable

[FORMAT]
max-line-length=320